
/* Import the Inter font family from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Define CSS variables for colors and text */
:root {
    --font-color: #b2b2b2;
    --hover-color: #000000;
    --title-font-size: 32px;
    --content-font-size: 16px;
    --link-font-size: 20px;
    --footnote-font-size: 12px;
  }
  
  /* Global styles */
  body {
    margin: 0;
    margin-top: 100px;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: #ffffff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Title */
  h1 {
    font-size: var(--title-font-size);
    font-weight: 700;
    margin-bottom: 1em;
  }
  
  /* Content */
  .content {
    font-size: var(--content-font-size);
    line-height: 1.4;
    margin-top: 10em;
    font-weight: 300;
  }
  
  /* Links */
  .links {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    font-weight: 500;
  }
  
  .links a {
    font-size: var(--link-font-size);
    color: var(--font-color);
    text-decoration: none;
    transition: color 0.2s;
    font-feature-settings: "ss01" on; /* Enable stylistic set 1 for Inter font */
  }
  
  .links a:hover {
    color: var(--hover-color);
  }
  
  /* Footnote */
  footer {
    text-align: left;
    margin-top: 10em;
  }
  
  footer p {
    font-size: var(--footnote-font-size);
    color: var(--font-color);
  }
  